<html>
<head>
	<link href="/stylesheets/blog.css" rel="stylesheet" type="text/css">
	<title>Razvan's Blog</title>
</head>
<body>
	<div>
		<h2>Razvan's Blog</h2>
	</div>

	<hr>
	<br/>

	<div class="login-area">
		<a class="login-link" href="/newpost">New post</a>
	</div>

	{% for p in posts %}
	<div class="post">
		<div class="post-heading">
			<div class="post-title">
				{{p.subject}}
			</div>
			<div class="post-date">
				{{p.created.date()}}
			</div>
		</div>
		<div class="post-content">
			{{p.content}}
		</div>
	</div>
	<br/>
	<br/>
	{% endfor %}
	
</body>
</html>